@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

/*-------Constants---------*/
:root{
    /*-------Colors-------*/
    --ocean-blue: #4469DD;
    --sky-blue: #73AAD2;
    --beige: #FFEEDB;
    --dark-blue: #171a29;

    --ocean-gradient: linear-gradient(180deg, var(--ocean-blue) 0%, var(--dark-blue) 100%);
    
    --dark-green: #034A5D;
    --light-green: #008787;

    /*-------Font-------*/
    font-family: "Nunito";
 
    /*-----Durations-----*/
    --durationS: 200ms;
    --durationM: 300ms;
    --durationL: 500ms;
}

/*-------TextStyles--------*/
[font="big-title"]{
    color: var(--beige);
    text-shadow: 2px 2px var(--sky-blue);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 8vw;
}
[size="full-width"]{
    font-size: 15vw;
}
[font="title"]{
    color: var(--beige);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4em;
    overflow-wrap: anywhere;
}
[font="title2"]{
    color: var(--beige);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.5em;
    overflow-wrap: anywhere;
}
[font="subtitle"]{
    color: var(--beige);;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}
[font="subtitle1"]{
    font-size: 1.1em;
    color: var(--beige);;
    font-weight: 300;
    text-transform: uppercase;
}
[font="text"]{
    font-weight: 300;
    font-size: 1em;
    color: var(--beige);;
}
[font="text-secondary"]{
    font-weight: 800;
    font-size: 1em;
    font-style: italic;
    color: var(--beige);
}
[font="text-secondary2"]{
    font-weight: 200;
    font-size: 1em;
    font-style: italic;
    color: var(--beige);
}
.link{
    width: fit-content;
}
.link:hover{
    text-decoration: underline;
}
.button{
    background-color: var(--dark-blue);
    color: var(--beige);
    padding: 2vh 2vw;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}
.button:hover{
    background-color: #181f3b;
}
[button-icon]{
    background-color: transparent;
    border: 2px solid var(--beige);
    color: var(--beige);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background-color var(--durationM);
}
[button-icon] p{
    font-weight: 500;
    font-size: 1em;
}
[button-icon] svg{
    height: 20px;
    width: 20px;
    fill: var(--beige);
}
[button-icon]:hover{
    background-color: var(--beige);
    color: black;
    border: 2px solid transparent;
}
[button-icon]:hover svg{
    fill: black;
}

/*--------Normalize-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
html, body{
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow: overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
p, h1, h2, a{
    line-height: 1.2em;
}
img{
    display: block;
}
.for-mobile{
    display: none;
}
.content{
    position: relative;
    overflow: hidden;
    background: var(--ocean-gradient);
    min-height: 100vh;
}

/*decoration*/
[font], .front{
    z-index: 10;
}
.filters{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.filter{
    pointer-events: none;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 1;
}
.light-rays{
    z-index: 5;
    background-image: url(../assets/images/decoration/light-rays.svg);
}
.light-rays-fade{
    background-image: linear-gradient(to top, rgba(255,255,255,0) 50%, var(--ocean-blue) 100%), url(../assets/images/decoration/light-rays.svg);
}
.fishes{
    z-index: 1;
    background-repeat: repeat-y;
    background-size: contain;
    max-width: 80vw;
    min-height: 150vh;
    background-image: url(../assets/images/decoration/fishes.svg);
}
.bubbles{
    z-index: 1;
    background-repeat: repeat;
    background-size: contain;
    background-image: url(../assets/images/decoration/bubbles.svg);
    opacity: 0.3;
}
.temples, .vegetations{
    width: 100%;
    bottom: 0px; /*delete svg error*/
    pointer-events: none;
    position: absolute;
}
.temples{
    max-height: 120vh;
}
.vegetations{
    max-height: 30vh;
    z-index: 2;
}

[platform]{
    width: 100%;
    height: 80px;
    margin-top: -20px;
}
[platform="light"]{
    background-color: var(--light-green);
}
[platform="dark"]{
    background-color: var(--dark-green);
}

@media (max-width: 768px) {
    [font="title"]{
        font-size: 10vw;
    }
    [font="big-title"]{
        font-size: 15vw;
    }
    [font="subtitle"]{
        font-size: 1.6em;
    }
    .temples{
        width: fit-content;
    }
    .vegetations{
        width: fit-content;
        max-height: 30vh;
    }
    .fishes, .bubbles{
        min-width: 200%;
    }
}
