
/*------------------Mentions-legales---------------*/
.mentions-legales{
    min-height: 100vh;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.mentions-legales h2{
    margin: 10vh 5vw;
    text-align: center;
}
.mentions-legales p{
    text-align: center;
}
.mentions-legales #links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}